.BL-common-layout {
  width: 100%;
  height: 100%;
  display: flex;
  position: relative;
  background: #EBEEF5;

  .BL-common-layout-left {
    width: 180px;
    background-color: #fff;
    height: 100%;
    display: flex;
    flex-direction: column;
    margin-right: 3px;

    .BL-common-title {
      flex-shrink: 0;
      padding: 0 10px;
      border-bottom: 1px solid #ebeef5;
      color: #000;
    }

    .BL-common-el-tree-scrollbar {
      flex: 1;

      .el-scrollbar__wrap {
        overflow-x: hidden;
      }
    }

    .custom-tree-node {
      width: calc(100% - 30px) !important;
    }

    .BL-common-el-tree {
      flex: 1;
      overflow: auto;
      overflow-x: hidden;

      .el-tree-node__content {
        height: 32px;
        line-height: 32px;
      }
    }
  }
}

.BL-common-title {
  border-bottom: 1px solid #ebeef5;
  display: flex;
  justify-content: space-between;
  color: #606266;
  align-items: center;

  &.noBorder {
    border: none;
  }

  h2 {
    font-size: 16px;
    line-height: 42px;
    font-weight: 500;

    &.bold {
      font-weight: 600;
    }
  }

  .options {

    &>i,
    .el-link {
      font-size: 16px;
      margin-left: 6px;
      cursor: pointer;
    }
  }

  &+.el-table {
    border-top: none;
  }
}

.custom-tree-node {
  width: calc(100% - 24px);
  flex: 1;
  display: flex;
  font-size: 0;
  align-items: center;

  i {
    font-size: 14px;
  }

  .text {
    flex: 1;
    font-size: 14px;
    display: inline-block;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
  }

  i+.text {
    padding-left: 6px;
  }

  .more {
    float: right;
  }
}

.BL-20 {
  margin-bottom: 20px !important;
}

.BL-common-layout-center {
  flex: 1;
  height: 100%;
  overflow: hidden;

  .BL-common-layout-main {
    flex: 1;
    padding: 0 0 10px;
    background-color: #fff;
    height: 100%;
    overflow: hidden;
  }
}

.BL-flex-main {
  display: flex;
  flex-direction: column;

  .el-table {
    flex: 1;

    &::before {
      border-bottom: 0;
      height: 0px
    }
  }

  .el-table__fixed::before,
  .el-table__fixed-right::before {
    border-bottom: 0;
    height: 0px
  }
}

.BL-common-search-box {
  background-color: #fff;
  margin-bottom: 3px;
  padding: 5px 10px 0;

  .el-form-item {
    width: 100%;
    display: flex;
    margin-bottom: 3px !important;


    .el-form-item__label {
      flex-shrink: 0;
      padding-right: 12px;
    }

    .el-form-item__content {
      flex: 1;
    }
  }

  .BL-common-head-right {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 3px 10px;
    flex-shrink: 0;
  }
}

.BL-common-head {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 3px 10px;
  flex-shrink: 0;

  .BL-common-head-right {
    flex-shrink: 0;
    font-size: 0;

    .el-link {
      margin-left: 12px;
    }

    .BL-common-head-icon {
      color: #606266;
    }
  }
}

.BL-common-drawer {
  .el-drawer__header {
    height: 60px;
    border-bottom: 1px solid #dcdfe6;
    padding: 0 px;
    margin-bottom: 0;

    &>span {
      line-height: 60px;
    }
  }

  .el-drawer__body {
    overflow: hidden;
  }

  .BL-flex-main {
    height: calc(100vh - 60px);

    .dynamicForm {
      flex: 1;
      padding: 10px;
      overflow: auto;
    }

    .drawer-footer {
      padding: 10px 20px 20px;
      width: 100%;
      box-sizing: border-box;
      text-align: right;
    }
  }
}

.el-table {
  border-top: 1px solid #EBEEF5;

  thead {

    tr,
    tr th {
      background-color: #f5f7fa;
      font-weight: normal;
      color: #606266;
      padding: 2px;

      th.el-table__cell {
        padding: 2px;
        background-color: #f5f7fa;
      }
    }
  }

  .el-switch {
    transform: scale(0.8);
  }

  .el-button--mini.el-button--text {
    padding: 3px 0;
  }

  &.columnTable {
    border-top: none;

    thead {

      tr,
      tr th {
        background-color: #fff;
      }
    }

    td {
      border-bottom: none;
    }

    &.el-table--mini td,
    &.el-table--mini th {
      padding: 3px 0;
    }

    &::before {
      height: 0;
    }
  }

  &::before {
    height: 0 !important;
  }

  .el-table__fixed-right-patch {
    background-color: #f5f7fa;
    top: 0;
  }

  .has-gutter .gutter {
    border-bottom: 1px solid #ebeef5;
  }

  .el-table__empty-block {
    display: inline-block;
  }

  .el-table__column-filter-trigger {
    line-height: 22px;
  }

  .caret-wrapper {
    height: 23px !important;
  }

  .sort-caret.ascending {
    top: 0px !important;
  }

  .sort-caret.descending {
    bottom: 1px !important;
  }
}

.BL-table-delBtn {
  color: #ff3a3a !important;

  &.el-button--text:hover,
  &.el-button--text:focus {
    color: #ff3a3a !important;
  }

  &.is-disabled {
    color: #C0C4CC !important;

    &.el-button--text:hover,
    &.el-button--text:focus {
      color: #C0C4CC !important;
    }
  }
}

.table-switch.el-switch.is-disabled {
  opacity: 1;

  .el-switch__core,
  .el-switch__label {
    cursor: pointer;
  }
}

.BL-common-page-header {
  padding: 14px 10px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  border-bottom: 1px solid #dcdfe6;

  .options {
    flex-shrink: 0;
    margin-left: auto;
  }

  .el-page-header {
    .el-page-header__left {
      flex-shrink: 0;
    }

    .el-page-header__content {
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
    }
  }

  .steps {
    width: 300px;
    padding: 6px 20px;
    background: #fff;
    justify-items: flex-start;

    .el-step__title {
      cursor: pointer;
    }
  }
}

.BL-preview-main {
  position: absolute;
  background-color: #fff;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  z-index: 100;
  overflow: auto;
  overflow-x: hidden;
  display: flex;
  flex-direction: column;

  &.nohead {
    padding-top: 10px;
  }

  .btns {
    position: absolute;
    right: 10px;
    top: 10px;
    z-index: 100;
  }

  .el-table--mini td {
    padding: 2px 0;
  }

  .el-table {
    flex: 1;
  }

  .BL-common-search-box {
    margin-bottom: 0;
  }

  .main {
    padding: 10px;
    flex: 1;
    overflow: auto;
    overflow-x: hidden;
  }
}

.el-form-item__label {
  font-weight: 400;
}

.BL-el_tabs {
  height: 100%;

  &.el-tabs--top {
    display: flex;
    flex-direction: column;
  }

  .el-tabs__content {
    flex: 1;
    overflow: auto;
    overflow-x: hidden;

    .el-tab-pane {
      height: 100%;
    }
  }
}

.el-tooltip__popper.is-dark {
  max-width: 500px;
}